* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-transform: capitalize;
}

body {
  background-color: rgb(4, 15, 2);
  background-image: url(https://images2.alphacoders.com/633/633157.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Londrina Solid", cursive;
  font-family: "Slackey", cursive;
}

header {

  margin-bottom: 10%;
  color: aqua;
  padding-bottom: 5px;
  text-align: center;
  justify-content: center;
  display: block;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: solid fuchsia 1px;
  -webkit-animation: random 20s infinite;
  animation: random 20s infinite;
}

@keyframes random {

  0% {
    background-color: rgba(43, 0, 43, 0.657);
  }

  25% {
    background-color: rgba(237, 13, 237, 0.372);
  }

  50% {
    background-color: rgba(43, 0, 43, 0.658);
  }

  75% {
    background-color: rgba(237, 13, 237, 0.372);
  }

  100% {
    background-color: rgba(43, 0, 43, 0.657);
  }

}


header:hover {
  box-shadow: fuchsia 1px 1px 60px;
  border-bottom: solid fuchsia 1px;
}

.logo-container {
  margin: 0px;
}

.pin-container {
  margin: 0px;
}

.logo {
  width: 400px;
  height: 180px;
  margin: 0px;
}

.pin {
  width: 150px;
  height: 150px;
  margin: 0px;
  border-radius: 50%;
  border: solid 8px white;
  box-shadow: 1px 1px 60px white;
}

.titulos {
  display: flex;
  margin: auto 30%;
}

.pilot {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto 0%;
  margin-bottom: 5%;
  padding-top: 5%;
  padding-right: 5%;
  padding-left: 5%;
  justify-content: space-between;
  list-style: none;
}

li a {
  color: fuchsia;
  text-decoration: none;
  text-transform: lowercase;
  border-radius: 10px;
  border: solid 2px fuchsia;
  padding: 5px;
  background-color: rgb(0, 255, 255);
  text-shadow: black 1px 1px 2px;
  font-size: x-large;
}

li a:hover {
  background-color: cyan;
  color: rgb(245, 95, 245);
  text-decoration: none;
  box-shadow: 1px 1px 30px cyan;
  border-radius: 10px;
  border: solid 4px lightblue;
  padding: 5px;
  text-shadow: black 1px 2px 5px;
}

.sinopsis {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgba(0, 255, 255, 0.176);
  border-radius: 20px;
  margin-bottom: 1%;
  color: cyan;
  text-shadow: black 1px 1px 1px;
  font-size: large;
  text-align: center;
  padding: 30px;
  margin: auto 50px;
  display: flex;
  margin-top: 30%;
}



.sinopsis:hover {
  background-color: rgba(43, 0, 43, 0.658);
  box-shadow: 1px 1px 160px fuchsia;
  border: solid fuchsia 1px;
}

.texto {
  text-align: center;
  width: 50%;
}

.banner {
  justify-content: center;
  width: 200px;
  height: 320px;
  border-radius: 20px;
  border: solid 8px white;
  box-shadow: 1px 1px 20px cyan;
  margin: auto 75%;
  margin-top: 50%;
}

.sinopsis h2 {
  text-align: center;
  margin: auto 0%;
  padding: 30px;
  color: cyan;
  text-shadow: 1px 1px 1px black;
}

h2 {
  text-align: center;
  padding: 0px;
  color: cyan;
  text-shadow: 1px 1px 1px black;
  margin-top: 20%;
}



.grid-contain {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 0px;
  padding: 0%;
  margin-bottom: 10%;

}

.grid-item {
  text-transform: capitalize;
  justify-content: center;
  width: 230px;
  height: 380px;
  padding: 10px;
  padding-bottom: 20px;
  margin: 15px;
  border: solid white 8px;
  border-radius: 15px;
  font-family: "Courier New", Courier, monospace;
  font-size: medium;
  text-shadow: black 1px 1px 1px;
  text-align: center;
  color: white;
  background-color: rgba(0, 255, 255, 0.317);
}

.grid-item:hover {
  color: black;
  text-shadow: 1px 1px 1px rgb(97, 191, 246);
  border: rgb(136, 248, 248) solid 6px;
  box-shadow: 1px 1px 60px cyan;
  background-color: cyan;
}

.grid-item img {
  width: 190px;
  height: 190px;
  box-shadow: 1px 1px 20px white;
  border-radius: 15px;
  border: 2px solid rgba(0, 255, 255, 0.644);
  padding-top: 0px;
  margin: auto 5px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.suscribeme {
  font-size: large;
  border-radius: 20px;
  padding-bottom: 15%;
  padding-top: 1%;
  text-align: center;
  margin-bottom: 30%;
  margin-top: 30%;
  color: cyan;
  text-shadow: black 1px 1px 3px;
  background-color: rgba(0, 255, 255, 0.201);
  border: 1px solid cyan;
}

.boton-serie {

  margin-bottom: 30px;
}



.suscribeme:hover {
  box-shadow: 1px 1px 80px cyan;
  border: 1px solid rgb(168, 248, 248);
}

.hbo {
  width: 250px;
  height: 160px;
  margin: 0px;
  border-radius: 20px;
  border: solid 2px fuchsia;
}

.hbo:hover {
  box-shadow: cyan 1px 1px 80px;
  border: solid cyan 1px;
}

footer {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  color: fuchsia;
  text-shadow: 1px 1px 1px black;
  font-size: large;
  margin-top: 30%;
  border-top: solid fuchsia 1px;
  -webkit-animation: random 20s infinite;
  animation: random 20s infinite;
}

@keyframes random {

  0% {
    background-color: rgba(43, 0, 43, 0.658);
  }

  25% {
    background-color: rgba(237, 13, 237, 0.372);
  }

  50% {
    background-color: rgba(43, 0, 43, 0.658);
  }

  75% {
    background-color: rgba(237, 13, 237, 0.372);
  }

  100% {
    background-color: rgba(43, 0, 43, 0.658);
  }

}

footer:hover {
  box-shadow: 1px 1px 60px fuchsia;
  
}

.info {
  margin-right: 36%;
  padding: 30px;
  padding-top: 50px;
  margin-left: 50px;
  text-shadow: 1px 1px 1px blue;
}

.contacts {
  margin-left: 0%;
  align-items: center;
  padding: 20px;
  text-align: center;
  text-shadow: 1px 1px 1px blue;
}

.logos {
  width: 50px;
  border-radius: 50%;
  margin: 10px;
  border: solid 2px fuchsia;
  box-shadow: fuchsia 1px 1px 25px;
}

.logos:hover {
  border: solid 2px white;
  box-shadow: white 1px 1px 25px;
}

.boton-volver img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transform: rotate(-90deg);
  position: fixed;
  bottom: 140px;
  right: 80px;
  box-shadow: 1px 1px 40px white;
}

.boton-volver img:hover {
  box-shadow: 1px 1px 28px fuchsia;
  border: fuchsia 4px solid;
}

@media only screen and (max-width: 680px) {

  header {
    justify-content: center;
  }

  .titulos {
    display: block;
    padding: 0px;
    margin: 0px;
  }

  .logo {
    width: 250px;
    height: 100px;
    margin: auto 3%;
  }

  .pin {
    width: 150px;
    height: 150px;
    margin: auto 5%;
  }

  .pilot {
    display: block;
    text-align: center;
  }

  li {
    margin-top: 35px;
    margin-left: 10%;
    margin-right: 10%;
  }

  .sinopsis {
    display: block;
    margin: 0px;
  }

  .texto {
    padding: 0px;
    margin: 0px;
    justify-content: center;
    width: 100%;
  }

  .banner {
    width: 200px;
    margin: auto 0px;
    margin-top: 20px;
    padding: 0px;
  }

  .grid-contain {
    justify-content: c;
    margin: 0px;
  }

  .grid-item {
    margin: auto 30%;
    margin-top: 10px;
    padding: 0px;
    text-align: center;
  }

  img .hbo {
    margin: auto 0px;
  }

  footer {
    font-size: large;
    justify-content: center;
  }

  .info {
    justify-content: center;
    text-align: center;
    margin: auto;
    padding: 0px;
  }

  .contacts {
    margin: auto;
    justify-content: center;
    text-align: center;
  }
}