* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-transform: capitalize;
}

body {
  background-color: rgb(4, 15, 2);
  background-image: url(https://images2.alphacoders.com/633/633157.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Londrina Solid", cursive;
  font-family: "Slackey", cursive;
}

header {
  background-color: rgba(43, 0, 43, 0.658);
  margin-bottom: 10%;
  color: aqua;
  padding-bottom: 5px;
}

header:hover {
  box-shadow: fuchsia 1px 1px 160px;
  border-bottom: solid fuchsia 1px;
}

.logo {
  width: 400px;
  height: 180px;
  margin: 0px;
}

.pin {
  width: 150px;
  height: 150px;
  margin: 0px;
  border-radius: 50%;
  border: solid 8px white;
}

.title {
  display: flex;
  padding: 0px;
  margin: auto 30%;
}

.nav-bar ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto 0%;
  margin-bottom: 5%;
  padding-top: 5%;
  padding-right: 5%;
  padding-left: 5%;
  justify-content: space-between;
  list-style: none;
}

li a {
  color: cyan;
  text-decoration: none;
  text-transform: lowercase;
  border-radius: 10px;
  border: solid 2px fuchsia;
  padding: 5px;
  background-color: rgba(0, 255, 255, 0.491);
  text-shadow: black 1px 1px 12px;
  font-size: x-large;
}

li a:hover {
  background-color: cyan;
  color: fuchsia;
  text-decoration: none;
  box-shadow: 1px 1px 30px cyan;
  border-radius: 10px;
  border: solid 4px lightblue;
  padding: 5px;
  text-shadow: black 1px 1px 12px;
}

.sinopsis {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgba(0, 255, 255, 0.176);
  border-radius: 20px;
  margin: auto 0px;
  padding: 0px;
  margin-bottom: 1%;
  color: cyan;
  text-shadow: black 1px 1px 1px;
  font-size: large;
  text-align: center;
}

.sinopsis:hover {
  background-color: rgba(43, 0, 43, 0.658);
  box-shadow: 1px 1px 160px fuchsia;
  border: solid fuchsia 1px;
}

.text {
  font-family: "Londrina Solid", cursive;
  font-family: "Slackey", cursive;
  width: 50%;
  margin: 20px;
  padding: 50px;
}

.banner {
  margin: auto 200px;
  margin-top: 60px;
  margin-bottom: 50px;
  height: 400px;
  width: 250px;
  border-radius: 20px;
  border: solid 8px white;
  box-shadow: 1px 1px 20px cyan;
}

h2 {
  text-align: center;
  padding: 15px;
  color: cyan;
  text-shadow: 1px 1px 1px black;
}

.grid-contain {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 0px;
  padding: 0%;
  margin-bottom: 10%;
}

.grid-item {
  text-transform: capitalize;
  justify-content: center;
  width: 250px;
  height: 340px;
  padding: 10px;
  padding-bottom: 20px;
  margin: 15px;
  border: solid white 8px;
  border-radius: 15px;
  font-family: "Courier New", Courier, monospace;
  font-size: medium;
  text-shadow: black 1px 1px 1px;
  text-align: center;
  color: white;
  background-color: rgba(0, 255, 255, 0.317);
}

.grid-item:hover {
  border: rgb(136, 248, 248) solid 6px;
  box-shadow: 1px 1px 60px cyan;
  background-color: cyan;
}

.grid-item img {
  width: 190px;
  height: 190px;
  box-shadow: 1px 1px 20px white;
  border-radius: 5px;
  padding-top: 0px;
  margin: auto 5px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.suscribeme {
  font-size: large;
  border-radius: 20px;
  padding: 5%;
  text-align: center;
  margin-bottom: 10%;
  color: cyan;
  text-shadow: black 1px 1px 3px;
  background-color: rgba(0, 255, 255, 0.201);
}

.suscribeme:hover {
  box-shadow: 1px 1px 120px white;
  border: 1px solid white;
}

.hbo {
  width: 250px;
  height: 160px;
  margin: 0px;
  border-radius: 20px;
  border: solid 5px white;
}

.hbo:hover {
  box-shadow: white 1px 1px 80px;
  border: solid cyan 8px;
}

footer {
  background-color: rgba(43, 0, 43, 0.658);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  color: fuchsia;
  text-shadow: 1px 1px 1px black;
  font-size: large;
}

footer:hover {
  box-shadow: 1px 1px 160px fuchsia;
  border-top: solid fuchsia 1px;
}

.info {
  margin-right: 45%;
  padding: 30px;
  padding-top: 50px;
  margin-left: 50px;
  text-shadow: 1px 1px 1px blue;
}

.contacts {
  margin-left: 0%;
  vertical-align: auto 5%;
  align-items: center;
  padding: 20px;
  text-align: center;
  text-shadow: 1px 1px 1px blue;
}

.logos {
  width: 50px;
  border-radius: 50%;
  margin: 10px;
  border: solid 2px fuchsia;
  box-shadow: fuchsia 1px 1px 15px;
}

.logos:hover {
  border: solid 2px white;
  box-shadow: white 1px 1px 15px;
}

.boton-volver img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transform: rotate(-90deg);
  position: fixed;
  bottom: 110px;
  right: 20px;
}

.boton-volver img:hover {
  box-shadow: 1px 1px 28px fuchsia;
  border: fuchsia 4px solid;
}

@media only screen and (min-width: 480px) and (max-width: 800px) {
  
  header {
    display: block;
    align-items: center;
    justify-content: center;
    margin: 0px;
    text-align: center;
  }
  .title{
    margin: auto 15%;
  }

  .logo {
    width: 220px;
    height: 100px;
    padding: 0px;
    margin: auto 0px;
  }

  .pin {
    width: 100px;
    height: 100px;
    margin: auto 0px;
  }

  nav ul li {
    display: block;
    margin-bottom: 30px;
    text-align: center;
  }

  nav {
    flex-direction: column;
    justify-content: space-between;
    margin-right: 50px;
  }

  .banner {
    margin: auto 20px;
    width: 190px;
    height: 300px;
  }

  .sinopsis {
    border: none;
    display: block;
    background-color: none;
    align-items: center;
    margin: auto 5px;
  }

  .info {
    display: block;
    text-align: center;
    margin: auto 0px;
  }

  .contacts {
    margin: auto 33%;
    align-items: center;
    padding: 10px;
  }
}